.DS_Store
.idea/
*.pyc
*.log
*.old
*.org
*.tar*
*.la
*~
*.swp
webapp/local_settings.py
webapp/test/test_flow.py
webapp/static/downloads/
webapp/app/controllers/local_celeryconfig.py
*.zip
*.csv
*xls
*.xlsx
