{% extends "layout.html" %}
{% from 'layout.html' import navbar, myscripts %}

{% block title %}mTracPro.::.Interventions{% endblock%}
{% block stylesheets %}
    <!-- Data Tables -->
    <link href="/static/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
    <link href="/static/css/plugins/dataTables/dataTables.responsive.css" rel="stylesheet">
    <link href="/static/css/plugins/dataTables/dataTables.tableTools.min.css" rel="stylesheet">

    <!-- Toastr style -->
    <link href="/static/css/plugins/toastr/toastr.min.css" rel="stylesheet">
{% endblock %}

{% block nav %}
    {% call navbar() %}

    {% endcall %}
{% endblock %}

{% block content %}
    <form id="file_form" role="form" method="post" enctype="multipart/form-data" action="" class="form-horizontal" data-toggle="validator">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="row">
            <!-- LEFT -->
            <div class="col-lg-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Send COVID-19 Results<small></small></h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                        <div class="ibox-content">
                            <div class="">
                                <h3>
                                    Expected Excel Format as below<a href="/static/downloads/results.xlsx"> Download <i class="fa fa-file-excel-o"></i></a>
                                </h3>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr><th>LabID</th><th>Sample Date</th><th>Name</th><th>Telephone</th><th>Results</th></tr>
                                    </thead>
                                    <tbody>
                                        <tr><td>UVRI-COV-02</td><td>20/04/2020</td><td>Samuel</td><td>0782820208</td><td>Negative</td></tr>
                                    </tbody>
                                </table>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="form-group"><label for="excel_file" class="col-lg-4 control-label">Excel Spreadsheet:</label>
                                    <div class="col-lg-8">
                                        <input name="excel_file" id="excel_file" type="file" value="" class="form-control" required/>
                                    </div>
                                </div>
                                <div class="form-group"><label for="msg" class="col-lg-4 control-label">Message Template:</label>
                                    <div class="col-lg-8">
                                    <textarea name="msg" id="msg" class="form-control" size="6" rows="5" required></textarea>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-lg-offset-4 col-lg-8">
                                        <button id="preview_btn" class="btn btn-sm btn-success" type="button" data-toggle="modal" data-target="#myModal">Preview Template</button>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <button id="send_btn" class="btn btn-sm btn-primary" type="button">Send Results</button>
                                    </div>
                                </div>
                                <br/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END LEFT -->
            <!-- RIGHT -->
            <div class="col-lg-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Message Template Format<small></small></h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                        <div class="ibox-content">
                            <div class="">
                                <p>
                                    In the message template, you can insert the supported contact fields, and the value will be populated correctly for each contact/record when the SMS is sent. To do this, enclose the field name with an opening and closing curly bracket, but place a dollar sign befor the opening curly bracket.
                                </p>
                                <p>
                                    Eg, <code>${Name}</code>
                                    <br/>
                                    <br/>
                                    Dear <code>${name}</code>,
                                    Your result for test sample (LabID: <code>${labid}</code>) taken on <code>${date}</code> is <code>${results}</code>.
                                </p>

                                <p>The following are the supported fields:</p>

                                <table class="table table-bordered">
                                    <thead>
                                        <tr><th>Field</th><th>Description</th></tr>
                                    </thead>
                                    <tbody>
                                        <tr><td><code>${labid}</code></td><td>The LabID for the test sample</td></tr>
                                        <tr><td><code>${date}</code></td><td>The date sample was taken</td></tr>
                                        <tr><td><code>${name}</code></td><td>The name of person that took sample</td></tr>
                                        <tr><td><code>${results}</code></td><td>The results</td></tr>
                                    </tbody>
                                </table>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END RIGHT -->
        </div>
    </form>

    <div class="modal inmodal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated flipInY">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span></button>
                        <h4 class="modal-title">Messate Template Preview</h4>
                </div>
                <div class="modal-body">
                    <div class="row" id="modal_res2">
                        Dear samuel
                    </div>
                    <div>
                        <p>

                        </p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    {% call myscripts() %}

        <script src="/static/js/plugins/bootstrap-validator/dist/validator.min.js"></script>
        <script src="/static/js/bootstrap-notify.min.js"></script>
        <!-- Toastr script -->
        <script src="/static/js/plugins/toastr/toastr.min.js"></script>
        <script type="text/javascript">
        $(document).ready(function() {
            $('#send_btn').click(function(){
                // Get form
                var form = $('#file_form')[0];
                // Create formData object
                var data = new FormData(form);

                // data.append('myfile',files);

                $("#send_btn").prop("disabled", true);
                $.ajax({
                    url: '/interventions',
                    type: 'POST',
                    enctype: 'multipart/form-data',
                    data: data,
                    contentType: false,
                    processData: false,
                    timeout: 600000,
                    dataType: 'json',
                    success: function(data){
                        $("#send_btn").prop("disabled", false);
                        toastr.success(data.message);
                        /*
                        $.notify({
                            title: "Response:",
                            message: data.message

                        },
                        {
                            type: data.status,
                            animate: {
                                enter: 'animated flipInY',
                                exit: 'animated flipOutX'
                            }
                        });
                        */
                    },
                    error: function (e) {
                        $("#send_btn").prop("disabled", false);
                        // alert(e.responseText);
                    }
                });
                // return false;
            });

            $('#preview_btn').click(function(){
                $('#modal_res2').html("");
                $.get(
                    '/api/v1/preview',
                    {msg: $('#msg').val()},
                    function(data){
                        $('#modal_res2').html(data);
                    }

                );
            });

        });
        </script>
    {% endcall %}
{% endblock %}
