{% extends "layout.html" %}
{% from 'layout.html' import navbar, myscripts, err, busted %}

{% block title %}mTracPro.::.Facilities{% endblock%}
{% block stylesheets %}
    <!-- Data Tables -->
    <link href="/static/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
    <link href="/static/css/plugins/dataTables/dataTables.responsive.css" rel="stylesheet">
    <link href="/static/css/plugins/dataTables/dataTables.tableTools.min.css" rel="stylesheet">
    <link href="/static/js/plugins/Buttons-1.1.2/css/buttons.dataTables.min.css" rel="stylesheet">


    <!-- Sweet Alert -->
    <link href="/static/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
{% endblock %}

{% block nav %}
    {% call navbar() %}

    {% endcall %}
{% endblock %}

{% block content %}
    {% if 'can_view_facilities' | hasPermission(ses.role, ses.permissions) %}
    {{ err(ses.rdata_err)}}

    <!-- TABS -->
    <div class="row">
        <div class="col-lg-12">
            <div class="tabs-container">

                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tab-1"><i class="fa fa-university"></i>Search Facilities</a></li>
                    <li class=""><a data-toggle="tab" href="#tab-2"><i class="fa fa-envelope"></i> Send SMS To Many Facilities</a></li>
                </ul>
                
                <div class="tab-content">

                    <!-- tab-1 -->
                    <div id="tab-1" class="tab-pane active">
                        <div class="panel-body">
                            <form class="form-horizontal" role="form" method="get" data-toggle="validator">
                                <input type="hidden" name="search_term" id="search_term" value="{{ search}}"/>
                                <input type="hidden" name="subcounty" id="search_subcounty" value="{{ subcounty}}"/>

                            <div class="row">
                                <div class="col-lg-12">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                    <div class="form-group"><label for="search" class="col-lg-3 control-label">Free Form Search:</label>
                                        <div class="col-lg-5">
                                            <input name="search" id="search" type="text" class="form-control"/>
                                        </div>
                                        <div class="col-lg-3">
                                                <button class="btn btn-sm btn-primary" type="submit">Search Facility</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group"><label for="district" class="col-lg-3 control-label">District:</label>
                                        <div class="col-lg-5">
                                            <select name="district" id="district" class="form-control">
                                                <option value="">Select District</option>
                                                {% for d in districts_1 %}
                                                <option value="{{ d.id}}" {% if d.id == district.id %} selected="yes" {% endif %}>{{ d.name}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group"><label for="municipality" class="col-lg-3 control-label">DLG/Municipality:</label>
                                            <div class="col-lg-5">
                                                <select name="municipality" id="municipality" class="form-control">
                                                    <option value="">Select DLG/Municipality</option>
<!--                                                    {% for d in districts_1 %}-->
<!--                                                    <option value="{{ d.id}}" {% if d.id== district.id %} selected="yes"-->
<!--                                                            {% endif %}>{{ d.name}}-->
<!--                                                    </option>-->
<!--                                                    {% endfor %}-->
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group"><label class="col-lg-3 control-label">Subcounty:</label>
                                        <div class="col-lg-5">
                                            <select name="subcounty" id="subcounty" class="form-control">
                                                <option value="">Select Sub County</option>
                                                {% for s in subcounties %}
                                                <option value="{{ s.id }}" {% if s.id == subcounty.id %} selected="yes" {% endif %}>{{ s.name}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            
                            </form>
                        </div>
                    </div>
                    <!-- End tab-1 -->

                    <!-- tab-2 -->
                    <div id="tab-2" class="tab-pane">
                        <form id="sms_form" class="form-horizontal" role="form" action="" method="post"  data-toggle="validator">
                        <div class="panel-body">
                            <div class="row">
                                {% if ('can_send_sms' | hasPermission(ses.role, ses.permissions)) or
                                    ('can_send_bulk_sms' | hasPermission(ses.role, ses.permissions)) %}
                                <!-- LEFT -->
                                <div class="col-lg-6">
                                    <div class="row">
                                        <div class="form-group"><label for="district" class="col-lg-3 control-label">District:</label>
                                            <div class="col-lg-9">
                                                <select name="district" id="district_1" class="form-control" required>
                                                    <option value="0">Select District</option>
                                                    {% for d in districts_2 %}
                                                    <option value="{{ d.id}}" {% if d.id == district.id %} selected="yes" {% endif %}>{{ d.name}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group"><label for="municipality1" class="col-lg-3 control-label">DLG/Municipality:</label>
                                            <div class="col-lg-9">
                                                <select name="municipality" id="municipality1" class="form-control" required>
                                                    <option value="0">Select DLG/Municipality</option>
<!--                                                    {% for d in districts_2 %}-->
<!--                                                    <option value="{{ d.id}}" {% if d.id == district.id %} selected="yes" {% endif %}>{{ d.name}}</option>-->
<!--                                                    {% endfor %}-->
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group"><label class="col-lg-3 control-label">Subcounty:</label>
                                            <div class="col-lg-9">
                                                <select name="subcounty" id="subcounty_1" class="form-control">
                                                    <option value="">Select Sub County</option>
                                                    {% for s in subcounties %}
                                                    <option value="{{ s.id }}" {% if s.id == subcounty.id %} selected="yes" {% endif %}>{{ s.name}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group"><label class="col-lg-3 control-label">Facility:</label>
                                            <div class="col-lg-9">
                                                <select name="sms_facility" id="sms_facility" multiple="yes" size="6" class="form-control" required>
                                                    <option value="">Select Health Facility</option>
                                                    {% for f in facilitiesx %}
                                                    <option value="{{ f.id }}" {% if f.id == facilityid %} selected="yes" {% endif %}>{{ f.name}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>

                                        
                                    </div><!-- end left row -->
                                </div>
                                <!-- END LEFT-->

                                <!-- RIGHT -->
                                <div class="col-lg-6">
                                    <div class="row">
                                        <div class="form-group"><label for="role" class="col-lg-3 control-label">Role:</label>
                                            <div class="col-lg-9">
                                                <select name="sms_roles" id="sms_roles" class="form-control" multiple="yes" size="4">
                                                    {% for v in roles %}
                                                    <option value="{{ v.name }}" {% if v.name in role %} selected="yes" {% endif %}>{{ v.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group"><label for="role" class="col-lg-3 control-label">Message:</label>
                                            <div class="col-lg-9">
                                                <textarea name="msg" id="msg" class="form-control" size="5" rows="5" required></textarea>
                                            </div>
                                        </div>

                                        <div class="form-group" style="margin-top:5px;">
                                            <div class="col-lg-2 col-lg-offset-10">
                                                <input type="text" name="counter_2" size="7" id="counter_2" readonly/>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-lg-offset-3 col-lg-3">
                                                <button class="btn btn-sm btn-primary" id="sendsms_2" type="submit">Send SMS</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- END RIGHT-->
                                {% else %}
                                    <div class="col-lg-6">
                                        <p>You have no permission to Send SMS</p>
                                    </div>

                                {% endif %}
                            </div>
                        </div>
                        </form>
                    </div>
                    <!-- End tab-4 -->
                </div>
            </div>
        </div>
    </div>
    
    <!-- END TABS -->

    <br/>
    <!-- DATA TABLE -->
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Health Facilities</h5>
                    <div class="ibox-tools">
                        <button class="btn btn-primary btn-outline dim sync_btn1" name="abtn" value="Sync Facilities"><i class="fa fa-refresh"></i> Sync Facilities</button>
                        &nbsp;&nbsp;&nbsp;
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover dataTables-example" id="mydata">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Level</th>
                                    <th>District</th>
                                    <th>Last Reported</th>
                                    <th>Has Complete Rpt</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for facility in facilities %}
                                <tr id="{{ facility.id }}">
                                    <td>{{ loop.index }}</td>
                                    <td><a href="/facilityreports/{{facility.code}}/" target="_blank">{{ facility.name }}</a></td>
                                    <td>{{ facility.type_id|facilityLevel }}</td>
                                    <td>{{ facility.district }}</td>
                                    <td>{{ facility.last_reporting_date|datetimeformat }}</td>
                                    <td>
                                        {% if facility.code|hasCompleteReport %}
                                            <button type="button" class="btn btn-primary btn-xs completeness_btn" id="{{facility.code}}" data-toggle="modal"
                                                data-target="#myModal4">
                                                 Yes
                                            </button>
                                        {% else %}
                                            <button type="button" class="btn btn-danger btn-xs completeness_btn" id="{{facility.code}}" data-toggle="modal"
                                                data-target="#myModal4">
                                                No
                                            </button>
                                        {% endif %}
                                    </td>
                                    <td>
                                       	<button type="button" class="btn btn-white btn-xs details_btn" id="{{facility.id}}" data-toggle="modal"
                                                data-target="#myModal2">
                                                 <i title="Details" class="fa fa-list-alt"></i>
                                        </button>
                                        &nbsp;&nbsp;
                                        {% if 'can_send_bulk_sms' | hasPermission(ses.role, ses.permissions) %}
										<button type="button" class="btn btn-white btn-xs sms_btn" id="{{facility.id}}" data-toggle="modal"
											data-target="#myModal3">
												<i title="SMS" class="fa fa-envelope-o"></i>
										</button>
                                        {% endif %}
                                       &nbsp; &nbsp;
                                        <button class="btn btn-white btn-xs sync_btn" id="_{{facility.code}}"><i title="Sync Facility" class="fa fa-refresh"></i></button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        </table>
                        {{ pagination_str }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END DATA TABLE -->
	<div class="modal inmodal" id="myModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated flipInY">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span></button>
                        <h4 class="modal-title">Health Facility Details</h4>
                </div>
                <div class="modal-body">
                    <div class="row" id="modal_res">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal inmodal" id="myModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated flipInY">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span></button>
                        <h4 class="modal-title">Facility Report Completeness</h4>
                </div>
                <div class="modal-body">
                    <div class="row" id="modal_res4">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
	<form role="form" action="" method="post" id="form2" class="form-horizontal" data-toggle="validator">
    <div class="modal inmodal" id="myModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated flipInY">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span></button>
                        <h4 class="modal-title">Send SMS</h4>
                </div>
                <div class="modal-body">
                    <div class="row" id="modal_res2">
                    </div>
                    <div class="row">
						<div class="col-lg-12">
                            <div class="row">
                                <div class="form-group"><label class="col-lg-3 control-label">Facility:</label>
                                    <input type="hidden" name="facilityid" id="facilityid"/>
                                    <div class="col-lg-9" id="facility_name">
                                        <p>Gwe</p>
                                    </div>
                                </div>
							</div>
                            <div class="row">
                                <div class="form-group"><label for="role" class="col-lg-3 control-label">Group:</label>
                                    <div class="col-lg-9">
                                        <select name="role" id="role" class="form-control" required>
                                            <option value="">Select Role</option>
                                            {% for v in roles %}
                                            <option value="{{ v.name }}" {% if v.name == role %} selected="yes" {% endif %}>{{ v.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
							</div>
							<br/>
                            <div class="row">
                                <div class="form-group"><label for="remarks" class="col-lg-3 control-label">Message:</label>
                                    <div class="col-lg-9">
                                        <textarea name="sms" id="sms" type="text"  rows="4" class="form-control"></textarea>
                                    </div>
                                </div>
							</div>
                            <div class="row">
                                <div class="form-group" style="margin-top:5px;">
                                    <div class="col-lg-2 col-lg-offset-10">
                                        <input type="text" name="counter" size="7" id="counter" readonly/>
                                    </div>
                                </div>
                            </div>
						</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                    <button class="btn btn-primary" type="submit" id="sendsms">Send</button>
                </div>
            </div>
        </div>
    </div>
    </form>
    {% else %}
        {{ busted() }}
    {% endif %}
{% endblock %}

{% block scripts %}
    {% call myscripts() %}
        <!-- Data Tables -->
        <script src="/static/js/plugins/dataTables/jquery.dataTables.js"></script>
        <script src="/static/js/plugins/dataTables/dataTables.bootstrap.js"></script>
        <script src="/static/js/plugins/dataTables/dataTables.responsive.js"></script>
        <script src="/static/js/plugins/dataTables/dataTables.tableTools.min.js"></script>

        <script type="text/javascript" src="/static/js/plugins/Buttons-1.1.2/js/dataTables.buttons.min.js"></script>
        <script type="text/javascript" src="/static/js/plugins/Buttons-1.1.2/js/buttons.flash.min.js"></script>
        <script type="text/javascript" src="/static/js/plugins/jszip.min.js"></script>
        <script type="text/javascript" src="/static/js/plugins/pdfmake.min.js"></script>
        <script type="text/javascript" src="/static/js/plugins/vfs_fonts.js"></script>
        <script type="text/javascript" src="/static/js/plugins/Buttons-1.1.2/js/buttons.html5.min.js"></script>
        <script type="text/javascript" src="/static/js/plugins/Buttons-1.1.2/js/buttons.print.min.js"></script>

        <script src="/static/js/plugins/bootstrap-validator/dist/validator.min.js"></script>

        <!-- Sweet alert -->
        <script src="/static/js/plugins/sweetalert/sweetalert.min.js"></script>

        <script src="/static/js/mtrackpro/reporters.js"></script>
        <script src="/static/js/mtrackpro/facility.js"></script>
        <script src="/static/js/bootstrap-notify.min.js"></script>
        <script>
            $(document).ready(function() {
                $('#mydata').DataTable({
                    dom: 'Bfrtip',
                    buttons: [
                        'copy', 'csv', 'excel', 'pdf', 'print'
                    ],
                    pageLength: 25,
                    bPaginate: false,
                    info: false
                });

                $('#sms').keyup(function(){
                    var obj = $('#sms');
                    var cc = $('#counter');
                    var x = obj.val();
                    var l = obj.val().length;
                    cc.val(l);
                    if(x.length >= 160){
                            var y = obj.val().substring(0,160);
                            obj.val(y);
                            cc.val(160);
                    }
    		    });

                $('.sms_btn').click(function(){
                    $('#modal_res2').html("");
                    var currentRow = $(this).closest("tr");
                    var facilityid = currentRow.attr('id');
                    $('#facilityid').val(facilityid);
                    var facility = currentRow.find("td:eq(1)").text();
                    $('#sms').val("");
                    $('#facility_name').html("<strong>" + facility + "</strong>");
                });

                $('#msg').keyup(function(){
                    var obj = $('#msg');
                    var cc = $('#counter_2');
                    var x = obj.val();
                    var l = obj.val().length;
                    cc.val(l);
                    if(x.length >= 160){
                            $('#counter_2').css("color", "red");
                            /*var y = obj.val().substring(0,160);
                            obj.val(y);
                            cc.val(160);*/
                    } else {
                        $('#counter_2').css("color", "black");
                    }
                });

                $('#sendsms_2').click(function(){
                    $.post('/api/v1/sendbulksms?',
                        $('#sms_form').serializeArray(),
                        function(data){
                            $.notify({
                                title: "Response:",
                                message: data.message

                            },
                            {
                                type: data.status,
                                animate: {
                                    enter: 'animated flipInY',
                                    exit: 'animated flipOutX'
                                }
                            });
                        }, "json");
                    return false;
                });

                $('.sync_btn').click(function () {
                    uid = $(this).attr('id');

                    swal({
                            title: "Are you sure?",
                            text: "This will sync the facility all over from DHIS2",
                            type: "warning",
                            showCancelButton: true,
                            confirmButtonColor: "#DD6B55",
                            confirmButtonText: "Yes, sync it!",
                            cancelButtonText: "No, cancel please!",
                            closeOnConfirm: false,
                            closeOnCancel: false },
                        function (isConfirm) {
                            if (isConfirm) {
                                $.post(
                                    '/api/sync_facility/' + uid.replace("_", ""),
                                    {uid: uid.replace("_", "")},
                                    function(data){
                                        if (data.message == "success"){
                                            /* remove row from table */
                                        };
                                    },
                                    'json'
                                );
                                swal("Sync Facility!", "Sync process running in background.", "success");
                                return false;
                            } else {
                                swal("Cancelled", "Sync aborted!", "error");
                                return false;
                            }
                        }
                    );
                });
                $('.details_btn').click(function(){
                    id = $(this).attr('id');
                    $.get('/api/v1/facility_details/'+ id, {},
                        function (data){
                        const content = `
<table style="
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
  ">
    <tbody>
      <tr>
        <th style="text-align:left; padding:8px; border-bottom:1px solid #ddd;">
          Name
        </th>
        <td style="padding:8px; border-bottom:1px solid #ddd;">
          ${data.name}
        </td>
      </tr>
      <tr>
        <th style="text-align:left; padding:8px; border-bottom:1px solid #ddd;">
          Code/DHIS2 UID
        </th>
        <td style="padding:8px; border-bottom:1px solid #ddd;">
          ${data.code}
        </td>
      </tr>
      <tr>
        <th style="text-align:left; padding:8px; border-bottom:1px solid #ddd;">
          Last Reported
        </th>
        <td style="padding:8px; border-bottom:1px solid #ddd;">
          ${data.last_reporting_date}
        </td>
      </tr>
      <tr>
        <th style="text-align:left; padding:8px; border-bottom:1px solid #ddd;">
          District
        </th>
        <td style="padding:8px; border-bottom:1px solid #ddd;">
          ${data.district}
        </td>
      </tr>
      <tr>
        <th style="text-align:left; padding:8px;">
          Subcounty
        </th>
        <td style="padding:8px;">
          ${data.subcounty || '—'}
        </td>
      </tr>
      <tr>
        <th style="text-align:left; padding:8px;">
          Is 033B Reporting?
        </th>
        <td style="padding:8px;">
          ${data.is_033b }
        </td>
      </tr>
    </tbody>
  </table>
`;
                        $('#modal_res').html(content);
                        $('#myModal2').modal('show');

                    }, 'json');
                });


                $('.sync_btn1').click(function () {
                    search_term = $('#search_term').val();
                    search_subcounty = $('#search_subcounty').val();
                    swal({
                            title: "Are you sure?",
                            text: "This will sync the facilities all over from DHIS2",
                            type: "warning",
                            showCancelButton: true,
                            confirmButtonColor: "#DD6B55",
                            confirmButtonText: "Yes, sync them!",
                            cancelButtonText: "No, cancel please!",
                            closeOnConfirm: false,
                            closeOnCancel: false },
                        function (isConfirm) {
                            if (isConfirm) {
                                $.get(
                                    '/api/sync_facilities',
                                    {search: search_term, subcounty: search_subcounty},
                                    function(data){
                                        console.log(data);
                                    },
                                    'json'
                                );
                                swal("Sync Facilities!", "Sync process running in background.", "success");
                                return false;
                            } else {
                                swal("Cancelled", "Sync facilities aborted!", "error");
                                return false;
                            }
                        }
                    );
                });

            });
        </script>
    {% endcall %}
{% endblock %}


