{% extends "layout.html" %}
{% from 'layout.html' import navbar, myscripts %}

{% block title %}mTracPro.::.MsgHist{% endblock%}
{% block stylesheets %}
    <!-- Data Tables -->
    <link href="/static/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
    <link href="/static/css/plugins/dataTables/dataTables.responsive.css" rel="stylesheet">
    <link href="/static/css/plugins/dataTables/dataTables.tableTools.min.css" rel="stylesheet">
{% endblock %}

{% block nav %}
    {% call navbar() %}

    {% endcall %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox chart-view">
                <div class="ibox-title">
                    <small class="pull-right text-muted">{{ name }}  (Tel:{{ phone }})</small>
                    <strong>Message History</strong>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="chat-discussion">
                                {% for m in msgs %}
                                    {% if m.direction in ("I", "in") %}
                            	        <div class="chat-message left">
                                            <img class="message-avatar" src="/static/images/sms_in.png" alt="" >
                                            <div class="message">
                                                <a class="message-author" href="#">{{ name }} ({{ phone}})</a>
                                                <span class="message-date"> {{ m.sent_on}}<br/></span>
                                                <span class="message-content">
                                                    {{ m.text }}
                                                </span>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="chat-message right">
                                            <img class="message-avatar" src="/static/images/sms_out.png" alt="" >
                                            <div class="message">
                                                <a class="message-author" href="#">mTracpro</a>
                                                <span class="message-date"> {{ m.sent_on }}<br/></span>
                                                <span class="message-content">
                                                    {{ m.text }}
                                                </span>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block chat_popup %}
	<div class="small-chat-box fadeInRight animated">

        <div class="heading" draggable="true">
            <small class="chat-date pull-right">
                {{ name }}
            </small>
            Send SMS
        </div>

        <div class="content" id="chat_content">
			{% for m in chat_msgs %}
                {% if m.direction in("I", "in") %}
                    <div class="left">
                        <div class="author-name">
                            {{ name }}
                            <small class="chat-date">
                            {{ m.sent_on }}
                            </small>
                        </div>
                        <div class="chat-message active">
                            {{ m.text }}
                        </div>
                    </div>

                {% else %}
                     <div class="right">
                        <div class="author-name">
                            mTracpro
                            <small class="chat-date">
                            {{ m.sent_on }}
                            </small>
                        </div>
                        <div class="chat-message">
                            {{ m.text }}
                        </div>
                    </div>
                {% endif %}
			{% endfor %}

		 </div>
        <div class="form-chat">
            <div class="input-group input-group-sm">
				<input type="text" class="form-control" id="sms">
                <input type="hidden" name="uuid" id="uuid" value="{{ uuid }}">
				<span class="input-group-btn">
					<button class="btn btn-primary" type="button" id="send_btn">Send</button>
				</span>
			</div>
        </div>

    </div>
    <div id="small-chat">
        <!--<span class="badge badge-warning pull-right">5</span>-->
        <a class="open-small-chat">
            <i class="fa fa-comments"></i>

        </a>
    </div>
</div>
{% endblock %}

{% block scripts %}
    {% call myscripts() %}
        <!-- Data Tables -->
        <script src="/static/js/plugins/dataTables/jquery.dataTables.js"></script>
        <script src="/static/js/plugins/dataTables/dataTables.bootstrap.js"></script>
        <script src="/static/js/plugins/dataTables/dataTables.responsive.js"></script>
        <script src="/static/js/plugins/dataTables/dataTables.tableTools.min.js"></script>

        <script src="/static/js/plugins/bootstrap-validator/dist/validator.min.js"></script>
        <script>
            $(document).ready(function() {
                $('#send_btn').click(function(){
                    txt = $('#sms').val();
                    uuid = $('#uuid').val();
                    $.post(
                        '/api/v1/sendsms',
                        {uuid:uuid, sms:txt},
                        function(data){
                            if (data == 'Success') {
                                html = "<div class='right'><div class='author-name'>mTracPro";
                                html += "<small class='chat-date'>10:20</small></div>";
                                html += "<div class='chat-message'>" + txt + "</div></div>";
                                $('#chat_content').append(html);
                                $('#sms').val(data);
                            }
                        }
                    );
                    return false;
                });

            });
        </script>
    {% endcall %}
{% endblock %}


